# Application Settings
PORT=5001
NODE_ENV=development

# Database Settings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sorello_pos?schema=public"

# Security Settings
JWT_SECRET="super-secret-key-at-least-32-chars-long"
JWT_EXPIRES_IN="24h"
